@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$padding: modular-scale(2);
$nav-width: modular-scale(10);

html {
    font-size: modular-scale(0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body > div {
    @include outer-container;
    margin: 0 auto;
}

header {
}

header + div {
}

.content {

    h2 {
        border-bottom: 1px solid;
    }
}

label, textarea, input {
    width: 400px;
    display: block;
}

textarea, input {
    margin-bottom: 20px;
}
