@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$padding: modular-scale(2);
$nav-width: modular-scale(10);

html {
    font-size: modular-scale(0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body > div {
    @include outer-container;
    width: 800px;
    margin: 0 auto;
}

header {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

nav {
    ul {

    }

    li {
        display: inline;
    }

    a:link {
        text-decoration: none;
    }
}

.content {

    h2 {
        border-bottom: 1px solid;
    }
}

label, textarea, input {
    width: 400px;
    display: block;
}

textarea, input {
    margin-bottom: 20px;
}
