@import "colors";
@import "neat/neat";

$max-width: em(935);
$breakpoint: em(1170);
$modular-scale-base: 1.125em;

// Breakpoints
$mobile: new-breakpoint(max-width $breakpoint 4);
$full: new-breakpoint(min-width $breakpoint 12);

// Colors
$primary: $grey;
$secondary: $blue-grey;