@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";
@import "prism";

body {
    line-height: modular-scale(1);
    font-size: modular-scale(0);
    font-family: 'Raleway';
    color: $text;
    background: #fffff2;
    margin: 0;
}

body > div {
    @include outer-container;
    margin: modular-scale(4) 0 0 modular-scale(4);

    @include media($mobile) {
        margin: modular-scale(1);
    }
}

nav {
    @include span-columns(2);
    margin-top: 2 * modular-scale(3);

    ul {
        padding: 0;
        margin: 0 0 25px 0;
    }

    li {
        list-style-type: none;
    }

    a {
        color: #444;
    }

    a:hover {
        color: $link;
        text-decoration: underline;
    }

    @include media($mobile) {
        display: none;
    }
}

content {
    text-align: justify;

    @include media($full) {
        @include span-columns(10);
        @include omega();
    }
}

h1,h2,h3 {font-weight: 700; margin: 0}

h1 {
    font-size: modular-scale(2);
    line-height: modular-scale(3);
}

h2 {
    font-size: modular-scale(1);
    line-height: modular-scale(2);
}

h3 {
    font-size: modular-scale(0);
    line-height: modular-scale(1);
}

pre {
    padding: modular-scale(0);
}

code {
    font-size: 12px;
    font-family: 'Source Code Pro';
    line-height: modular-scale(0);
}

:not(pre) > code,
pre[class*="language-"] {
    background: #f5f2f0;
}

:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

@include selection {
    background: #ddddff;
}